/* DASHBOARD CSS */

#dashboard-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

#dashboard-container {
    width: 100%;
    min-height: 300px;
    background-color: #fff;
    border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
    box-shadow: 0px 0px 42px -33px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 0px 42px -33px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 42px -33px rgba(0,0,0,0.75);
    overflow-y: scroll;
    text-align: left;
}

.dashboard-content {
    display: none;
}

.dashboard-content.visible {
    display: block;
}

.dashboard-button:link {
    display: inline-block;
    padding: 15px 30px;
    border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
    margin-top: 30px;
    margin-left: 20px;
    color: #fff;
    transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
    min-width: 150px;
}

.dashboard-button:visited {
    color: #fff;
}

#dashboard-button-announcements {
    background-color: #759675;
}

#dashboard-button-announcements:hover {
    background-color: #698769;
}

#dashboard-button-schedule {
    background-color: #8d99ae;
}

#dashboard-button-schedule:hover {
    background-color: #7e899c;
}

#dashboard-button-preferences {
    background-color: #555667;
}

#dashboard-button-preferences:hover {
    background-color: #444452;
}

#dashboard-button-absence {
    background-color: #f14b5f;
}

#dashboard-button-absence:hover {
    background-color: #d84355;
}

/* ANNOUNCEMENTS CSS */

#dashboard-announcements {
    margin-top: -16px;
}

#dashboard-announcements ul {
    padding: 0;
    list-style-type: none;
}

#dashboard-announcements ul li{
    padding: 15px 20px;
    border-top: 1px solid #eee;
}

#dashboard-announcements ul li:first-of-type {
    border-top: none;
}

#dashboard-announcements ul li:nth-of-type(1n) {
    background-color: #f3f3f3;
}

#dashboard-announcements ul li:nth-of-type(2n) {
    background-color: #fff;
}

/* PREFERENCES CSS */

#dashboard-preferences form {
    margin-top: 50px;
    margin-bottom: 0;
}

/* ABSENCE-OFF CSS */

#dashboard-absence #absence-wrapper {
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    justify-content: space-around;
}

#dashboard-absence #absence-wrapper p {
    margin-top: 20px;
    font-size: 18px;
}

#dashboard-absence #absence-wrapper form {
    position: relative;
    margin: 20px 0 30px;
}

#dashboard-absence #absence-wrapper form h3 {
    font-weight: 600;
    color: #2b2d42;
    font-size: 24px;
    text-align: center;
    margin: 0 0 15px;
}

#dashboard-absence #absence-wrapper form input[type="submit"] {
    width: auto;
    min-width: 50%;
    font-size: 16px;
}

#dashboard-absence #absence-wrapper #sick-report-form .form-group.submit {
    position: absolute;
    bottom: 0;
    width: 100%;
}